h1 {
	position: absolute;
	top: 350px;
	padding-left: 50px;
	font-family: Arial;
}

h1 span {
	color: white;
	background: black;
	opacity: 50%;
	padding: 5px;
}

.below {
	text-align: center;
}

#guess {
	width: 270px;
	height: 60px;
}

#result {
	font-size: 18px;
	font-family: Arial;
	color: Red;
	font-weight: 5pt;
}
